@font-face {
   font-family: Open R;
   src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
   font-family: Open B;
   src: url(../fonts/OpenSans-Bold.ttf)
}



body {
     margin: 0;
     padding: 0;
  }
  .header {
     background-image: url(../images/banner-bg.jpg);
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
     z-index: 1;
     padding: 30px 0 90px;
     background-color: #000000;
  }
  .header::after {
     content: "";
     background-color: #000000;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;;
     opacity: 0.6;
     z-index: -2;
  }
  
  
  .conteiner {
     max-width: 1200px;
     margin: 0 auto 0 auto;
     padding: 0 10px 0 10px;
  
  }
  
  .conteiner-nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
  }
  .header-logo {
     width: 205px;
  }
  
  .menu-list {
     display: flex;
     flex-wrap: wrap;
     list-style: none;
     padding: 0;
     margin: 0;  
  }
   
  .menu-link {
     font-size: 13px;
     color: #ffffff;
     font-weight: 400;
     font-family: Open R;
     text-decoration: none;
     text-transform: uppercase;
  }
  
  .menu-list-item:nth-child(n + 2) {
     margin-left: 35px;
  }
  
  .header-title {
     max-width: 750px;
     text-transform: uppercase;
     font-family: Open B;
     font-size: 45px;
     font-weight: 700;
     line-height: 73px;
     text-align: center;
     color: #ffffff;
     margin-top: 100px;
     margin-left: 200px;
  }

  .trends {
    margin-top: 40px;
    margin-bottom: 40px;
   }

 .trends_title,
 .product_head {
    text-align: center;
    text-transform: uppercase;
    font-family: Open B;
    font-size: 20px;
    line-height: 29px;
    color: #0f0d0e;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
   }

 .trends_title::after,
 .product_head::after {
    content: "";
    display: block;
    width: 65px;
    height: 3px;  
    background-color: #b59f5b;
    margin: 5px auto;
   }

 .trends_section {
    display: flex;
    flex-wrap: wrap;
    
   }

 .trend_card {
    z-index: 0;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    width: 50%;
    margin: 2px;
   }

 .trend_card::after {
    content:"";
    position: absolute;
    z-index: -1;
    background-color: #000000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.6;
   }

 .trend_body {
    width: 100%;
    border: solid 3px #b59f5b;
    padding: 30px;
    
   }

 .card_title {
    text-transform: uppercase;
    font-family: Open R;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
   }
 .tags_trends {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    
   }

 .tag_link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Open R;
    font-size: 14px;
    font-weight: 700;
    color: #b59f5b;
   }

 .tag_link:nth-child(n+1) {
    margin-right: 20px;
  }
 
 .card1 {
    background-image: url(../images/trend1.jpg);
 }

 .card2 {
    background-image: url(../images/trend2.jpg);
 }

 .card3 {
    background-image: url(../images/trend3.jpg);
 }

 .card4 {
    background-image: url(../images/trend4.jpg);
 }

  
  .page {
     max-width: 1200px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin: 0 auto 60px auto;
     padding-top: 60px;
     padding-right: 20px;
     padding-left: 15px;
     padding-bottom: 5px;
   
  }
  
  .posts {
     width: 778px;
  }
  
  .post {
     display: flex;
  } 
  
  .post-img {
     width: 380px;
  }
  .post-info {    
     margin-left: 40px;
  }
  
  .tags {
     display: flex;
     flex-wrap: wrap;
     list-style: none;
     padding: 0;
     margin: 0;
  }
  
  .tags-list-item:not(:first-child) {
     margin-left: 30px;
  }
  
  .post-name {
     margin: 10px 0 0 0;
  }
  
  .tag-link {
     text-decoration: none;
     text-transform: uppercase;
     font-family: Open B;
     font-size: 14px;
     font-weight: 700; 
     color: #b59f5b;
  }
  
  .post-title {
     text-decoration: none;
     text-transform: uppercase;
     font-size: 20px;
     font-weight: 700;
     line-height: 24px;
     font-family: Open B;
     color: #0f0d0e;
  }
  
  .date-writer {
     display: flex;
     list-style: none;
     padding-left: 0;
     margin-top: 20px;
     margin-bottom: 50px;
    
  }
  
  .post-date {
     font-family: Open R;
     font-size: 12px;
     font-weight: 400;
     color: #888888; 
  }
  
  .writer a {
     text-decoration: none;
     font-family: Open R;
     font-size: 12px;
     font-weight: 700;
     margin-left: 30px;
     color: #000000;
  }
  
  .post-content {
    font-family: Open R;
     font-size: 15px;
     font-weight: 400;
    
  }
  
  .post:nth-child(n+2) {
     margin-top: 60px;
  }
  
  .post-block { 
     width: 270px;
  }
  
  .post-block-news,
  .title-mail,
  .tag-catalog,
  .themes-list{
     font-family: Open B;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: 700;
     color: #0f0d0e;
     text-align: center;
     margin: 0;
  }
  
  .post-block-news::after,
  .title-mail::after,
  .tag-catalog::after,
  .themes-list::after{
     content: "";
     display: block;
     width: 65px;
     height: 3px;
     background-color: #b59f5b;
     margin: 10px 0 20px 103px;
  }
  
  .news {
     display: flex;
     align-items: flex-start;
  }
  
  .news-description {
     margin-left: 10px;
  }
  .news-date {
     font-family: Open R;
     font-size: 12px;
     font-weight: 400;
     color: #888888;
  }
  
  .news-title {
     margin: 5px 0 0 0;
     line-height: 17px;
  }
  
  
  .news-link {
     text-decoration: none;
     text-transform: uppercase;
     font-family: Open B;
     font-size: 14px;
     font-weight: 700;
     color: #000000;
     line-height: 17px;
  }
  
  .news:nth-child(n + 2) {
     margin-top: 22px;
  }
  
  .search {
     margin: 60px 0;
     display: flex;
     justify-content: space-between;
  }
  
  .search-group {
     display: flex;
     width: 270px;
  }
  
  .button {
     height: 48px;
     width: 48px;
     border: none;
     background-color: #b59f5b;
     background-image: url(../svg/search.svg);
     background-repeat: no-repeat;
     background-size: 20px auto; 
     background-position: center center;
     cursor: pointer;
  }
  
  .button:focus {
     outline: none;
     border-color: none;
  }
  .field {
     width: 100%;
     border: none;
     background-color: #f5f7f3;
     font-family: Open R;
     font-size: 13px;
     font-weight: 400; 
     padding: 10px 20px;
     cursor: text;
  }
  
  .field:focus {
     outline: none;
     border-color: none;
  }
  
  .visually-hidden {
     width: 1px;
     height: 1px;
     clip: rect(1px, 1px, 1px, 1px);
     position: absolute;
  }
  
  .mailing{
     margin-bottom: 60px;
  }
  
  .mail {
     display: flex;
     flex-direction: column;
  }
  
  .email {
     display: block;
     height: 48px;
     border: none;
     background-color: #f3f7f5;
     font-family: Open R;
     font-size: 13px;
     font-weight: 400; 
     padding: 5px 20px;
     cursor: text;
     color: #000000;
  }
  
  .email:focus {
     outline: none;
     border: none;
  }
  
  .button-mail {
     height: 48px;
     width: 100%;
     font-family: Open R;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: 700;
     color: #ffffff;
     text-align: center;
     border: none;
     background-color: #b59f5b;
     background-repeat: no-repeat;
     cursor: pointer;
     margin-top: 5px;
  }
  
  .button-mail:focus {
     outline: none;
     border: none;
  }
  
  .tags-catalog {
     display: flex;
     flex-wrap: wrap;
     list-style: none;
     margin: 0;
     padding: 0;
     justify-content: flex-start;
  }
  
  .tag-link-list {
     display: block;
     text-decoration: none;
     text-transform: uppercase;
     font-family: Open B;
     font-size: 12px;
     font-weight: 700;
     color: #0f0d0e;
     margin: 5px 10px 5px 10px;
     
  }
  
  .tags-catalog-item {
     margin: 0 6px 6px 0;
     border: 3px solid #d3d3d3;  
  }
  
  .themes {
     margin-top: 50px;
  }
  .theme-list {
     list-style: none;
     justify-content: flex-start;
     padding-left: 0;
     margin: 0;
  }
  
  .theme-list-item {
     display: flex;
     flex-wrap: wrap;
     border-bottom: 1px solid #d3d3d3;
     margin: 10px 15px;
  }
  
  .theme-link {
     text-decoration: none;
     font-family: Open B;
     font-size: 14px;
     font-weight: 700;
     color: #000000;
     margin-top: 5px;
     margin-bottom: 15px;
  }
  
  .number {
    font-family: Open R;
     font-size: 12px;
     font-weight: 700;
     color: #b59f5b;
     vertical-align: super;
  }

  .product_container {
    max-width: 1200px;
    margin: 0 auto 40px auto;
   }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
 
  .product__title {
    text-transform: uppercase;
    font-family: Open B;
    font-size: 20px;
    line-height: 29px;
    color: #0f0d0e;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 10px;
   }
 
 
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
  
  .product__body {
    margin-top: -60px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #b59f5b;
    padding: 20px;
    flex-grow: 2;
    opacity: 1;
    
   }

  .product__imgbox {
    padding: 10px 10px;
  }
 
  .product__description {
    width: 300px;
    min-height: 60px;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: Open R; 
   }
 
  .product-link {
    text-decoration: none;
    color: #b59f5b;
    font-size: 14px;
    line-height: 47px;
    line-height: 22px;
    z-index: 1;
  }
 
  .product-link:hover {
    color: #323232;
  }
  
  .product__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
  }
 
  .product__prices {
    max-width: 70px;
  }
 
  .product__price {
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open B;
    flex-direction: column; 
  }
 
  .product__price_old {
   font-size: 14px;
    line-height: 24px;
    text-decoration: line-through;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open B;
  }
 
  .product__button {
    background-color: #b59f5b;
    border: 0px solid #dfe0df;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    min-width: 120px;
    min-height: 40px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 700;
    font-family: Open R;
    z-index: 1;
  }
  
  .footer {
     padding-bottom: 40px;
  }
  
  .footer-social {
     max-width: 1200px;
     padding: 0 15px;
     margin: auto;
  }
  
  .social-network{
     background-color: #f3f7f5;
     padding-top: 20px;
     padding-bottom: 20px;
  }
  
  .social-network-list {
     display: flex;
     align-items: center;
     list-style: none;
     padding: 0;
     margin: 0;
     justify-content: center;
  }
  
  .social-network-list-items:nth-child(n + 2) {
     margin-left: 30px;
  }
  
  .social-network-icon{
     display: block;
  }
  
  .icon {
     width: 20px;
     height: 20px;
  }
  
  .copyright {
     display: block;
     text-decoration: none;
     margin-top: 40px;
     font-family: Open R;
     font-size: 12px;
     font-weight: 700;
     color: #999999;
     text-align: center;
  }


  /*desktop*/

@media (min-width: 1200px) {
   .header {
     min-width: 1200px;
     min-height: 450px;
   }
   
   .conteiner {
     max-width: 1200px;
   }
   
   .trends_section {
     min-width: 1200px;
   }
   
   .page,
   .product_container,
   .footer-social {
     max-width: 1200px;
   }
   
   .shop__card {
     width: 30%;
   }
   
   .shop__card:nth-child(n + 2) {
   margin-left: 5%;
    }
   .post-info {
     width: 48%
   }
 .burger_1 {
   display: none;
    }

}

/*menu*/

.menu_burger {
   position: relative;
   text-indent: -9999px;
   width: 35px;
   height: 25px;
   border: none;
   background-color: transparent;
   padding: 0;
   cursor: default;
  
 }
 .menu_mobile {
   position: absolute;
   left: 0;
   bottom: 40%;
   width: 100%;
   height: 20%;
   background-color: #ffffff;
 
 }
 .menu_burger::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 20%;
   background-color: #ffffff;
 }

 .menu_burger::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;   
   width: 100%;
   height: 20%;
   background-color: #ffffff;
 }


 /*tablet*/

@media (min-width: 641px) and (max-width: 1199px) {
 
 .header {
   max-width: 1200px;
   background-image: url(../images/banner-bg-tablet.jpg)
 }
 .page,
 .product_container,
 .footer-social {
   max-width: 700px;
 }
 .trends { 
   max-width: 1199px;
 }
 .conteiner {
    max-width: 700px;
 }
 .trend_card {
   width: calc((100% / 2)-3px);
   min-height: 250px;
 }
 .trend_card:nth-child(n + 3) {
   margin-top: 3px;
 }
 
 .trend_card:nth-child(n + 2) {
   margin-left: 20px;
 }

 .posts {
   width: 57%;
 }
 .post {
   flex-wrap: wrap;
 }
 .post-info {
   margin-left: 0;
 }
 .post-img {
   object-fit: cover;
   height: 100%;
   width: 100%;
 }
 .tags{
   margin-top: 15px;
 }
 .post-block{
   width: 36%;
   margin-left: 7%;
 }
 .product {
   width: calc(95%/2);
 }
 .product:nth-child(n+2) {
   margin-left: 1%;
 }
}
@media (max-width: 1199px) {
   .menu-list {
      display: none;
      }

   }
   
 @media (min-width: 641px) and (orientation: landscape) {
   .trend_card {
      width: calc(100% / 2);
      min-height: 250px;
   }
   .trend_card:nth-child(n + 2) {
     margin-left: 1px;
   }  
   .trend_card:nth-child(n + 3) {
    margin-top: 1px;
   }

}




 

 
